.top-nav {
  position: fixed;
  top: 0;
  left: 10%;
  width: 80%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  z-index: 1000;
  transition: all 0.3s ease;
}

.top-nav a {
  width: 45px;
  height: 45px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #333;
}

.top-nav a:hover {
  transform: translateY(-3px) scale(1.15);
  color: #ffffff;
}

.top-nav a.active {
  color:  #ffffff;
  position: relative;
}